<div id="portfolio-container">

    <div class="portfolio-image-container">
        <img [src]="aboutImg">
    </div>
    <div class="portfolio-image-container1">
        <ul class="list">
            <li>Shivatra is a minority woman-owned company.</li>
            <li>We provide virtual administration services and are based in the Northern Virginia region.</li>
            <li>For over a decade, our clients have trusted us to complete their most confidential office operations and day-to-day tasks, so they can focus on doing what they do best.</li>
            <li>Our team of experienced professionals produce innovative solutions to help streamline any size business -- from start-ups to established large enterprises. </li>
            <li>We are driven to improve your profits and bottom line by providing excellent service and cost-savings support.</li>
            
        </ul>
    </div>

</div>