<div id="portfolio-container">

    <div class="portfolio-image-container">
        <img [src]="aboutImg">
    </div>
    <div class="portfolio-image-container1">
            <p>
                Shivatra is a minority woman-owned company. We provide virtual administration services and are based in the Northern Virginia region.  For over a decade, our clients have trusted us to complete their most confidential office operations and day-to-day tasks, so they can focus on doing what they do best. 
 
                Our team of experienced professionals produce innovative solutions to help streamline any size business -- from start-ups to established large enterprises. 
                 
                We are driven to improve your profits and bottom line by providing excellent service and cost-savings support.
                            </p>
        
    </div>

</div>