.center{
    margin: auto;
    font-weight: 400;
    font-size: 1.5rem;
    font-weight: 400;
}
.mat-toolbar.mat-primary {
    background: #F5F5F5;
    font-family: 'Lato';
    height: 4.6rem;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400px;
    color: #060b23;
    padding-top: 17px;
    padding-bottom: 12px;
    margin-right : 48px ;
}