<section id="work-experence">
    <div id="name-social-container">
    <h1 class="section-heading mb75px">
       <span>
           <i class="fas fa-briefcase">  </i>
       </span>
       <span><span style="color: red">W</span>ork <span style="color: red">E</span>xperience </span>
   </h1>
   <div class="timeline">
        <div class="timeline-box ">
            <div class="timeline-container">
                <h1 class="experience-designation-name">
                    <span style="color: red">S</span>oftware Enginner
                </h1>
                <h2 class="experience-company-name">
                    <span style="color: red">JP </span>Morgan Chase & Co.
                </h2>
            </div>
        </div>
    </div>
    <div>
        <div class="research-block-container">
            <div class="research-goal-col first-child cronologics">
                <img src="https://assets.website-files.com/5872dded6232879a6ff550a6/58d559a09f4cc9dc0580bbc5_hardware-design.svg" width="56" height="65" alt="" class="research-goal-img-1">
                <h1 class="h5 dark">Industrial design</h1>
                <p class="feedback-p-sm research-p">Through some user research, we found out that the traditional watch hardware was still very much appealing to the average person. However, with the recent saturation of smart watches in the marketplace, people also wanted their smartwatch to connect to their social media channels, emails, calendars, fitness trackers and more. Maintaining the authentic watch look and feel was key to a healthy balance between hardware and software.</p>
            </div>
            <div class="research-goal-col cronologics">
                <img src="https://assets.website-files.com/5872dded6232879a6ff550a6/58d559d1aaf58e202b73fb73_software-design.svg" width="56" height="65" alt="" class="research-goal-img-2">
                <h1 class="h5 dark">Software design</h1>
                <p class="feedback-p-sm research-p">The question is not what can we build, but rather why should we build it?&nbsp;Nearly anything is possible in software design. We spent a lot of time trying to figure out if the most appealing &nbsp;smart watch ui was a traditional skeuomorphic look and feel or the more digital flat/modern ui that is commonly seen on iWatch, Android and other devices. A healthy balance between the two seemed to make most sense to &nbsp;our potential users. Versatility is key.</p>
            </div>
            <div class="research-goal-col cronologics">
                <img src="https://assets.website-files.com/5872dded6232879a6ff550a6/58d559e40eb8f1ed05a625e0_fashion-design.svg" height="65" width="56" alt="" class="research-goal-img-3">
                <h1 class="h5 dark">Fashion design</h1>
                <p class="feedback-p-sm research-p">Let's face it, if a watch's interface and industrial design do not look great or are not versatile enough to match different outfits and scenarios, they will most likely end up in a drawer for weeks at a time. While looking around me at the different accessories that people had on, it struck me that people express themselves through the things that they wear, yet not every operating system or hardware device accommodates to every user.</p>
            </div>
        </div>
    </div>
</div>  
</section>
