<section id="name-social-container">
    <h1 class="section-heading mb75px">
       <span>
           <i class="fas fa-briefcase"></i>
       </span>
       <span> Services </span>
   </h1>
   <div class="timeline">

           <div class="timeline-box ">
               <div class="timeline-container">
                   <div class="timeline-logo">
                   </div>
                   <h2 class="experience-company-name"> Accounting </h2>

                   <p class="experience-description text-align-justify"> We provide billing account management services including accounts receivable, accounts payable, and report generation. </p>
               </div>
           </div>
           
           <div class="timeline-box right ">
               <div class="timeline-container">
                   <div class="timeline-logo">
                   </div>
                   <h2 class="experience-company-name"> Businesses Processes </h2>
                   <p class="experience-description text-align-justify">We complete daily office tasks through administrative support, mail handling, and correspondence. </p>
               </div>
           </div>

           <div class="timeline-box left ">
               <div class="timeline-container">
                   <div class="timeline-logo">
                       <!-- <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png"> -->
                   </div>
                   <h2 class="experience-company-name ">Human Resources                </h2>

                   <p class="experience-description text-align-justify"> We implement payroll solutions, prepare tax documentation, and assist with corporate and healthcare insurance policies </p>
               </div>
           </div>
           <div class="timeline-box right ">
            <div class="timeline-container">
                <div class="timeline-logo">
                </div>
                <h2 class="experience-company-name"> Data and Document Management                </h2>
                <p class="experience-description text-align-justify">We digitize your documents, scanning in all formats and sizes, creating electronic databases, and managing your digital files and cloud storage. </p>
            </div>
        </div>
        <div class="timeline-box left ">
            <div class="timeline-container">
                <div class="timeline-logo">
                    <!-- <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png"> -->
                </div>
                <h2 class="experience-company-name ">Business Development                </h2>

                <p class="experience-description text-align-justify">  We help expand your business through lead generation and growth activities. </p>
            </div>
        </div>

           <div id="timeline-divider">
               <div class="timeline-traveller">
                   <div>
                   </div>
               </div>
           </div>

       </div>

   </section>