<section id="name-social-container">
  <div>
    <div class="text-center">
    <h1 id="my-name"><span style="color: red">S</span>hivam <span style="color: red">B</span>hargava</h1>
    <h2 id="my-desb">Web Developer <span style="color: red">|</span> Software Engineer <span style="color: red">|</span> FreeLancer</h2>
    </div>
  </div>
  <div id="social-references">
    <ul class="horizontal-list text-center icons">
      <li>
        <a href="https://www.linkedin.com/in/shivam-bhargava7/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-stack-overflow"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/07shivam" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
         <i class="far fa-envelope-open"></i>
        </a>
      </li>
      <li>
        <a href="https://www.goodreads.com/user/show/92295435-shivam-bhargava">
          <i class="fab fa-goodreads-g"></i>
        </a>
      </li>
    </ul>
    <div id="about-para">
			<p>My name is Shivam Bhargava and I can help you in developing Web Pages with Angular, implementing the OPPS concept with SOLID principles, developing Android App with Kotlin and I also can help you get the logic for CP problems.</p>
			<p>As per my qualification and specializations go, I am very good at coding, Angular, Java, JavaScript, Android Development, C#, and C++, and speaking formally I am certified in Java, Android Development with Kotlin, Competitive Programming, and Data Structure and Algorithm.
			</p>
		</div>
  </div>
  </section>
